body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fishandchips {
    background-color: rgb(255, 249, 218);
}

#friedrice {
    background-color: rgb(223, 255, 212);
}

#chocolatecake {
    background-color: rgb(255, 228, 189);
}

h1 {
    font-size: 50px;
}

img {
    height: auto;
    width: 500px;
}